{% include base_path %}

<!-- start custom head snippets -->

<link rel="images/apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-precomposed.png">
<link rel="images/icon" type="image/png" sizes="32x32" href="images/apple-touch-icon-precomposed.png">
<link rel="images/icon" type="image/png" sizes="16x16" href="images/apple-touch-icon-precomposed.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
