{% if page.tab and page.tab != empty %}
  <nav class="breadcrumbs">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ site.url }}" itemprop="url">
        <span itemprop="title">Home</span>
      </a> › 
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ site.url }}/{{ page.tab | first }}/" itemprop="url">
        <span itemprop="title">{{ page.tab | first | replace: '-',' ' | capitalize }}</span>
      </a>
    </span>
  </nav><!-- /.breadcrumbs -->
{% endif %}
