<footer role="contentinfo" id="site-footer">
  <center>
<a href="https://docs.google.com/forms/d/17k_359bd6xjtHAiWsCypZlYKrM1LY6NrBXDjVJDJ0BQ/edit" class="btn" target="_blank"><i class="fa fa-user-plus"></i> Sign up to Mailing List</a> <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5QMFziNaiQj8Sc8HvWj-zPDcCeQjYN8PmM0xF2KEpNxXRow/viewform" class="btn" target="_blank"><i class="fa fa-comments"></i> Give Feedback</a> <a href="https://auv-field-manual.github.io/files/Chapter 2_Survey Design Field Manual.pdf" class="btn" target="_blank"><i class="fa fa-download"></i> Download Manual</a> </center>
	<nav role="navigation" class="menu bottom-menu">
    	  <img src= "{{ site.url }}/images/NESP-footer.png" width="100%" height="30%">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
      {% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a> developed by Brooke Gibbons.</p>
</footer>
