<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}" class="site-title">
      <img src='/images/NESP-header-1.png' height=10% width="20%"></img>
    <a href="{{ site.url }}" class="site-title">
      <img src='/images/NESP-header-2.png' height=10% width="60%"></img>
    <span>  </span>
    </a>
    <span>  </span>
    </a>	
    <nav role="navigation" class="menu top-menu">	
      {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
